@page
@model StudentManagement.Web.Pages.Students.CreateModel
@{
    ViewData["Title"] = "Crear";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h4>Estudiantes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.Document" class="control-label"></label>
                <input asp-for="Student.Document" class="form-control" />
                <span asp-validation-for="Student.Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Name" class="control-label"></label>
                <input asp-for="Student.Name" class="form-control" />
                <span asp-validation-for="Student.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Email" class="control-label"></label>
                <input asp-for="Student.Email" class="form-control" />
                <span asp-validation-for="Student.Email" class="text-danger"></span>
            </div>
            
            @if (Model.AvailableSubjects.Any())
            {
                <h4>Asignar Materias</h4>
                <div class="form-group mb-3">
                    @foreach (var subject in Model.AvailableSubjects)
                    {
                        <div class="form-check">
                            <input type="checkbox"
                                   class="form-check-input"
                                   name="SelectedSubjectCodes"
                                   value="@subject.Code" />
                            <label class="form-check-label">
                                @subject.Name - (@subject.Credits Créditos)
                            </label>
                        </div>
                    }
                </div>
            }


            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Volver</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
